.about {
    grid-column: 2 / 10;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: min-content minmax(min-content, 4rem) minmax(min-content, 5rem) minmax(min-content, 20rem);
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1rem;
    align-items: center;
    padding: 4rem;
    text-align: center;
    opacity: 0;

    a {
        @include link-styles;
    }

    &__about {
        justify-self: center;
    }
}

.skills {
    display: flex;

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 1.6rem;
            padding-bottom: .5rem;
        }
    }

    &__section {
        display: flex;
    }

    &__items {
        @include list-styles;
        font-size: 1.6rem;
        color: $font-color;
    }

    &__item {
        padding: 1rem;
    }

}

@media only screen and (max-width: 700px) {
    .about {
        padding: 1rem;
        text-align: left;
    }
}