@keyframes fadeIn {

    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//animation class through js
.animation {
    @include animation( fadeIn, 1s, forwards, .3s, ease-in);
}